
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund
{
	background-image: url("https://docs.google.com/uc?export=download&id=12bFDv365aKfYuynKBSvoBLsLixl99IS5");
	background-position:center;
	background-size:cover;
}

#myCanvas
{
background-color:white;
border-style:ridge;
border-width:10px;
}
span
{
	font-size:20px;
}
